 html,body{
   position: relative;
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 15px;
   overflow: hidden;
}
 .background{
    position: absolute;
    z-index: 1;
    display: flex; 
    height: 100vh;
    width: 100vw; 
    box-sizing: border-box;  
 }
 .background img{
   height: 100%;
   object-fit: cover;
   display: block;
 }
  .background .top img{
   margin-left: -40%;
  }
  .background .bottom img{
   margin-left: -70%;
   margin-top: 10%;
  }



 .main{
   margin: 0;
   height:100%;
   width: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
 }

 .Above{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 63%;
 }

.main_statment{
   padding-bottom: 20px;
   color: hsl(300, 43%, 22%);
   font-size: 40px;
   font-weight: 700;
}
.moto{
   color: hsl(303, 10%, 53%);
}
.right{
   display: flex;
   gap: 15px;
   flex-direction: column;
   margin-top: 5%;
}
.right .rating{
   display: flex;
   gap: 35px;
   padding:10px;
   width: 95%;
   border-radius: 10px;
   color: hsl(300, 43%, 22%);
   background-color: hsl(300, 24%, 96%);
   
}

#rating-1{
   margin-left: -20%;
}
#rating-2{
   margin-left: -10%;
   padding-right: 20px;
}


 .Below{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 63%;
 }

.comment{
   box-sizing: border-box;
   padding-left:25px;
   padding-right: 25px;
   padding-bottom:20px ;
   padding-top: 20px;
   border-radius: 10px;
   background-color: hsl(300, 43%, 22%);
   color: white;
   font-size: 12px;
   font-weight: 500;
   height: 90%;
}

.comment .head{
   display: flex;
   flex-direction: row;
   gap: 0px;
   justify-content: left;
   align-items: center;
   padding-bottom: 10px;
   font-size: 15px;
   font-weight: 300;
}
.head .img img{
   border-radius: 50px;
   max-width: 70%;
}
.verify{
   color: hsl(333, 80%, 67%);
}
.words{
   color: hsl(300, 24%, 96%);
}
#comment-2{
   margin-top: 10px;
}
#comment-3{
   margin-top: 20px;
}
@media (max-width: 1250px) {
   .Above{
      width: 75%;
   }
   .Below{
      width: 75%;
   }
}
@media (max-width: 1100px) {
   .Above{
      width: 80%;
   }
   .Below{
      width: 80%;
   }
}
@media (max-width: 990px) {
   .Above{
      width: 90%;
   }
   .Below{
      width: 90%;
   }
}
@media (max-width: 900px) {
   .Above{
      width: 95%;
   }
   .Below{
      width: 95%;
   }
}


@media (max-width: 820px) {
   body{
   overflow-y:scroll;
   height: 100vh;
}
.main{
   margin-top: 200px;
   gap: 0px;
   padding-top: 100px;
}
.right{
   width: 100%;
}
   #rating-1,#rating-2,#rating-3{
      flex-direction: column;
      margin: 0px;
      gap: 10px;
      width: 90%;
      height: 100%;
      padding: 30px;
   }
   .words{
      text-align: center;
      text-align: justify;
   }

   .Below{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-bottom: 80px;

   }
   .comment{
      height: 100%;
      width: 90%;
   }
   .comment .words{
      text-align: center;
      font-size: 20px;
   }
   .Above{
      flex-direction: column;
      width: 90%;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-bottom: 5%;
      margin-top: 60%
   }
}